.Contenedor {
	  color:#111;
	
    padding: 14px 18px;
    margin-bottom: 22px;

}

.encabezado{
	  text-align: center;
    background-color:#ffffff;
}
/*modificado*/
.Icono_link, a{
	  text-decoration:none;
    color: #0066c0;
    font-size: 13px;
}

.img{
   width:12%;
   height: auto;
}



.login{
	border: 1px #ddd solid ;
	width: 296px;
	min-height:185px;
	padding: 20px 26px;
	
	margin-bottom: 22px;
  background-color: #fff ;
  border-radius: 4px;

}

.cuerpo{
    margin: 0 auto;
}

label{
	  display:inline;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
    
}

h1{
	  margin-top: 0;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.2;

}
h1,label,input,span {
    font-family: "Amazon Ember",Arial,sans-serif;
}

.titulo_Formulario{
      margin-bottom: 10px
}


input[type=submit]{
	  margin-top: 15px;
	
	  display: block;
    cursor: pointer;
    height: 29px;
    width: 100%;
    border-radius: 3px;
    
    
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;

    
}

.boton_naranja{
	  background: #f0c14b;
    border-color: #adb1b8 #a2a6ac #8d9096;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    margin-bottom: 22px;

}
.boton_gris{
    background: #e7e9ec;
    border-color: #adb1b8 #a2a6ac #8d9096;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    margin-bottom: 14px; 
}



.Texto{
	    border: 1px solid #a6a6a6;
      border-radius: 3px;
      display: block;
      height: 31px;
      width: 100%;
      margin: 0;
      padding: 3px 7px;
      box-sizing: border-box;
      font: 400 13.3333px Arial;

	
}

.Texto1{
      border: 1px solid #a6a6a6;
      border-radius: 3px;
      display: block;
      height: 31px;
     
      margin: 0;
      padding: 3px 7px;
      box-sizing: border-box;
      font: 400 13.3333px Arial;

}

.principal{
	width: 350px;
	min-height:307px; 
	margin: 0 auto;
}

.pie_login{
    
    width: 350px;
    height: 12px;
    margin-bottom: 14px;
    text-align: center;

    position: relative;
    top: 2px;
    padding-top: 1px;
    margin-bottom: 14px;
    line-height: 0;
    z-index: 2;


}

.pie_login {
	content: " ";
	background-color: transparent;
    display: block;
    width: 350px;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;


}

.footer{
    
    text-align: center;
    margin: 0 auto;


}

.superior{
	
    background: linear-gradient(to bottom,rgba(0,0,0,.14),rgba(0,0,0,.03) 3px,transparent);
    z-index: 0;
    zoom: 1;
   
}

.enlaces{

	  display:inline;
    line-height: 5;
   

}

.Cuerpo{
     margin-bottom: 40px;

}

.separador{
    display:inline-block;
    width:15px;

}

.footer_texto{
	font-size:12px;
	line-height: 1;

}

.separador1{
    display:inline-block;
    width:25px;
    
}

a:hover{
       text-decoration: underline;
       color:orange;
}

.header{
     margin: 0 auto;
     padding: 20px 24px;
     min-width: 996px;
     max-width: 1200px;
     box-sizing: border-box;
     text-align: left;

     
}

.imagenHead{
    max-width: 100%;
    border: 0;
}

.body2{
    font-size: 13px;
    line-height: 19px;
    color: #333;
    font-family: Arial,sans-serif;


}

.h1_1{
   margin-bottom: 14px;
   text-align: left;


}

.hr1{
    
  border: 0.5px #ddd solid ;  

}

.columna1{
    width: 48.70%;
    margin-right: 2.53165%;
    float: left;
    min-height: 1px;
    overflow: visible;
}

.Form-columna{
  width: 80%;

}

.texto2{
     margin-bottom: 14px;
}

.p1{

    line-height:2;

}

.label1{

  margin-bottom: 4px;
}

.radio1{
    display: block;
    font-weight: 400;
}

.superior2{
   border-top: 1px solid #ddd;
   background-color: #f7f7f7;
   background: -webkit-linear-gradient(top,#f7f7f7,white);
   box-shadow: 0 1px 1px rgba(0,0,0,0.05) inset;
   padding: 14px;
   
}

.boton_naranja2{
    width: 20%;
    float: right;


}
.contenido{
     width: 100%;
     height: 910px;

}

.centrar{
   text-align: center;

}

.columna2{
    width: 46%;
    margin-right: 2.53165%;
    float: right;
    min-height: 1px;
    overflow: visible;
}

.tr1{
   
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;

}

.radio2{
    padding-left: 3px;
    padding-bottom: 3px;
    font-weight: bold;

}

    
